.btn {
    border: none;
    border-radius: 0;
    padding: calc(0.75em + 0.5vw);
    font-size: calc(1.75em + 0.5vw);
    background-color: white;
    border-radius: 10px;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    width: calc(2.25em + 0.5vw);
}

.btn:hover {
    background-color: rgb(52, 176, 218);
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.darkMode {
    background-color: rgb(41, 41, 41);
    color: rgb(52, 176, 218);
}

.darkMode:hover{
    background-color: rgb(95, 95, 95);
}